<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MST Study AI</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <!-- Header -->
    <div class="header">
        <h1>MST Study AI</h1>
        <p>AI Study Assistant</p>
    </div>

    <!-- Chat -->
    <div id="chat-box" class="chat-box"></div>

    <!-- Input Area -->
    <div class="input-area">

        <div class="upload-container">
            <button class="plus-btn" onclick="toggleMenu()">+</button>

            <div id="uploadMenu" class="upload-menu">

                <label for="imageInput">📷 Image</label>
                <input type="file" id="imageInput" accept="image/*" onchange="uploadImage()" hidden>

                <label for="pdfInput">📄 PDF</label>
                <input type="file" id="pdfInput" accept=".pdf" onchange="uploadPDF()" hidden>

            </div>
        </div>

        <input type="text" id="user-input" placeholder="Ask anything...">

        <button class="send-btn" onclick="sendMessage()">Send</button>

    </div>

    <!-- FOOTER -->
    <div class="footer-links">
        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="/terms" target="_blank">Terms & Conditions</a>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>